* {
  background-color: rgb(10, 180, 10);
}
h1 {
  color: blue;
  font-size: 40px;
  margin-left: 50px;
  background-color: brown;
  margin-bottom: 10px;
}
/* adding ID="name-box" selector to form a box around h1 */
/* try deleting #name-box */

header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: flex-end;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav {
  width: 30%;
}

#hero {
  background-image: url("../images/Portfolio-1.jpg");
  width: 100%;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#hero p {
  width: 50%;
  background-color: cyan;
  padding: 10px;
  margin: 10px;
}

#About-me {
  display: flex;
  justify-content: flex-end;
}

h2 {
  border-right: darkblue solid 5px;
  margin: 10px;
  padding: 10px;
  width: 20%;
}

#About-me div {
  display: flex;
  align-items: center;
}
#About-me img {
  width: 30%;
  height: 200px;
  margin: 10px;
}
#About-me p {
  width: 60%;
  margin: 10px;
}

/* #refactoring-hero image for my work.*/

/* add a class selector for '.card' */

/* create selector for id-' Contact-me". use space around to space the links out  */
#Contact-me,
h2 {
  display: flex;
  justify-content: flex-start;
}
/* failed at spacing contact information */
#Contact-me {
  display: flex;
  justify-content: space-around;
}

/* add class selector for 4 cards and change the image size of each to 200width/ 200 height */
.card {
  height: 200px;
  width: 200px;
}
