ul {
  display: flex;
  justify-content: flex-end;
  text-decoration: turquoise;
}
/* adding soaces between list items */

#banner {
  width: 150%;
  height: 30vh;
}
/*TODO: list items in nav bar must be responsive */
#About-me {
  display: inline;
  background-color: tomato;
  margin: 4px;
}

#Work {
  display: inline;
  background-color: wheat;
  margin: 4px;
}

#Contact {
  display: inline;
  background-color: yellowgreen;
  margin: 4px;
}
/* end of list items in nav bar */

#name-box {
  display: inline-block;
  font-size: 150%;
  background-color: rgb(55, 196, 182);
  margin-top: 13px;
  /* text-decoration: underline; */
  /* padding-top: 5px; */
  /* padding-left: 30px; */
}
/* changed header height to 15vh */
header {
  background-color: black;
  height: 15vh;
}
/* added h1 selector */
h1 {
  padding-left: 20px;
}

/* adding body selector. position relative in body */
body {
  position: relative;
}
